<div class="container">
  <div id="card" class="card mat-elevation-z4">
    <div class="header">
      <img class="logo-senai" src="/assets/img/logo.jpg" />
      <p class="nome-escola">"Escola SAMCS"</p>
    </div>
    <div class="photo">
      <img class="photo-funcionario" [src]="funcionario.foto" alt="" />
    </div>
    <div class="name">
      <h3 class="first-name">{{ nome }}</h3>
      <p class="complete-name">{{ sobreNome }}</p>
    </div>
    <div class="description">
      <div class="description-item">
        <p class="description-item-key">Empresa:</p>
        <p class="description-item-value">{{ funcionario.empresa }}</p>
      </div>
      <div class="description-item">
        <p class="description-item-key">Matrícula:</p>
        <p class="description-item-value">{{ funcionario.matricula }}</p>
      </div>
      <div class="description-item">
        <p class="description-item-key">Rg:</p>
        <p class="description-item-value">{{ funcionario.rg }}</p>
      </div>
      <div class="description-item">
        <p class="description-item-key">Nascimento:</p>
        <p class="description-item-value">
          {{ funcionario.dataNascimento | date: "dd/MM/yyyy" }}
        </p>
      </div>
    </div>

    <div class="footer">
      <p class="footer-description">Livre utilização SAMCS</p>
    </div>
  </div>
  <button
    class="button mat-elevation-z4"
    mat-raised-button
    color="primary"
    (click)="toPDF()"
  >
    <mat-icon>print</mat-icon>Imprimir
  </button>
</div>
