.container {
    width: 260px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-validade {
    width: 90%;
}

.card {
    width: 220px;
    height: 358px;
    margin: 0px auto 0px auto;
    background-color: white;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logo-senai {
    width: 100px;
    height: 26px;
    margin: 33px auto auto auto;
}

.nome-escola {
    margin-top: -2px;
    font-size: 11px;
    font-weight: bold;
}

.photo-aluno {
    width: 100px;
    height: 133px;
    margin: 2px auto -2px auto;
    background-color: white;
    border: 1px;
    border-style: solid;
}

.name {
    width: 210px;
    height: 42px;
    margin: 0px auto 0px auto;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-name {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.complete-name {
    width: 100%;
    margin-top: -10px;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: .7px;
    overflow-wrap: break-word;

}

.description {
    padding-top: 2px;
    width: 210px;
    height: 82px;
    margin: 5px auto 0px auto;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.description-item {
    margin-top: -7px;
    padding-top: 2px;
}

.description-item-key {
    font-size: 11px;
    margin-left: 5px;
    font-weight: bold;
    overflow-wrap: break-word;
    display: inline;
}

.description-item-value {
    font-size: 11px;
    margin-left: 5px;
    font-weight: bold;
    overflow-wrap: break-word;
    display: inline;
}


.footer-description {
    font-size: 10px;
    margin-bottom: 10px;
}


.button {
    margin-top: 5px;
    width: 100%;
}