.container {
  height: 100vh;
  background-image: url("src/app/assets/img/background_login.jpg");
  display: flex;
  justify-content: center;
  background-size: 120% 120%;
  animation: background_animation 100s ease infinite;
}

@keyframes background_animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  width: 100%;
  text-align: center;
}

.card {
  width: 90vw;
  background-color: rgb(235, 235, 235);
  height: auto;
  margin: auto;
  border-radius: 1rem;
}

.form {
  margin: auto;
  background-color: rgb(235, 235, 235);
  padding: 1rem 1rem;

}

#img-logo {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

#img-cadeado {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: auto;
}

span {
  color: dimgray;
}

button {
  margin-top: 2rem;
}

.social-icon {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#img-facebook {
  display: flex;
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

#img-instagram {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
}
